@font-face {
    font-family: "Golos";
    font-weight: 400;
    src: url(./golostext_regular.ttf);
}
@font-face {
    font-family: "Golos";
    font-weight: 500;
    src: url(./golostext_medium.ttf);
}
@font-face {
    font-family: "Golos";
    font-weight: 600;
    src: url(./golostext_demibold.ttf);
}
@font-face {
    font-family: "Golos";
    font-weight: 700;
    src: url(./golostext_bold.ttf);
}
@font-face {
    font-family: "Golos";
    font-weight: 800;
    src: url(./golostext_black.ttf);
}